@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --admin-sidebar-width: 20rem;

  @media (width < 1024px) {
    --admin-sidebar-width: 16rem;
  }

  @media (width < 768px) {
    --admin-sidebar-width: 4rem;
  }
}

.fadeInUp {
  animation: fadeInUp 0.4s ease;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}