@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply size-2;
}

::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-[#c2c9d2];
}

:root {
  --admin-sidebar-width: 20rem;

  @media (width <= 1536px) {
    --admin-sidebar-width: 6rem;
  }

  @media (width <= 768px) {
    --admin-sidebar-width: 5.5rem;
  }
}

.fadeIn {
  animation: fadeIn 0.4s ease;
}

.fadeInUp {
  animation: fadeInUp 0.4s ease;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
